@model ServerSideProcessingInDataTable.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12">
        <table class="display" id="EmployeeDataTable">
            <thead>
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Részleg
                    </th>
                    <th>
                        Cím
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div style="text-align: center">
            <a href="#" class="btn btn-primary" align="center" onclick="EditEmployeeDetails(0)">Új dolgozó hozzáadása</a>
        </div>

        <div class="modal fade" id="editOrNewEmployeeModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title" align="center">Dolgozó Szerkesztése</h3>
                    </div>
                    <div class="modal-body" id="employeeEditOrNewModalBody" align="center">

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-danger" data-dismiss="modal">Visza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        BindDataTable();
    });

    var BindDataTable = function () {
        $("#EmployeeDataTable").DataTable({
            "bServerSide": true,
            "sAjaxSource": "/Home/GetEmployeeRecords",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    type: "GET",
                    data: aoData,
                    url: sSource,
                    success: fnCallback
                });
            },
            "aoColumns": [
                { "mData": "Name" },
                { "mData": "DepartmentName" },
                { "mData": "Adress" },
                {
                    "mData": "EmployeeID",
                    "bSortable": false,
                    "bSearchable": false,
                    "render": function (employeeId) {
                        return '<a href="#" onclick="EditEmployeeDetails(' + employeeId + ')"><i class="glyphicon glyphicon-pencil"></i></a>';
                    }
                }
            ]
        });
    }

    var EditEmployeeDetails = function (employeeId) {
        $.ajax({
            type: "POST",
            url: "../Home/EditOrNewEmployee",
            data: { EmployeeID: employeeId },
            success: function (response) {
                $("#employeeEditOrNewModalBody").html(response);

                $("#editOrNewEmployeeModal").modal("show");
            }
        });
    }
</script>