<table class="table table-bordered">
    @if (ViewBag.EmployeeDetails != null)
    {
        <tr>
            <td><b>Név: </b></td>
            <td>@ViewBag.EmployeeDetails.Name</td>
        </tr>
        <tr>
            <td><b>Cím: </b></td>
            <td>@ViewBag.EmployeeDetails.Adress</td>
        </tr>
        <tr>
            <td><b>Osztály: </b></td>
            <td>@ViewBag.EmployeeDetails.DepartmentName</td>
        </tr>
        <tr>
            <td><b>Weboldal: </b></td>
            <td>@ViewBag.EmployeeDetails.SiteName</td>
        </tr>
    }
</table>
