@model BootstrapPopupExample.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 align="center">Index</h2>

<div class="container" style="width:40%;margin-top:2%">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newEmployeeModal">Popup Window Megnyitása</a>

    <div class="modal fade" id="newEmployeeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title" align="center">Dolgozói adatok</h3>
                </div>
                <div class="modal-body">
                    <form id="employeeForm">
                        @Html.DropDownListFor(@model => model.DepartmentID, TempData["DepartmentsDicitionaryTableElements"] as SelectList, "--- Kérem válaszon! ---", new { @class = "form-control" })
                        @Html.TextBoxFor(@model => model.Name, new { @class = "form-control", @placeholder = "Név" })
                        @Html.TextBoxFor(@model => model.Adress, new { @class = "form-control", @placeholder = "Cím" })
                        @Html.TextBoxFor(@model => model.SiteName, new { @class = "form-control", @placeholder = "Oldal név" })
                    </form>

                    <div style="text-align:center;display:none" id="loaderGIFDiv">
                        <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Vissza</a>
                    <input type="reset" value="Mentés" class="btn btn-primary" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#loaderGIFDiv").show();

            var data = $("#employeeForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Example/SaveEmployee",
                data: data,
                success: function () {
                    $("#loaderGIFDiv").hide();
                    $("#newEmployeeModal").modal("hide");
                }
            })
        })
    })
</script>