@model IEnumerable<MODELBindingExample.Models.Employee>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";

    Layout = null;
}

<h2>Index</h2>

<table class="table table-striped" style="width:60%" align="center">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tbody>
        @if(Model != null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.Name</td>
                    <td>@item.Department</td>
                </tr>
            }
        }
    </tbody>
</table>

