<!--A Controllertől kapott Model tárolása-->
@model IEnumerable<MODELBindingExample.Models.Employee>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";

    /// Layout ürítése, abból a célból, hogy ne jelenjen meg semmi az Index oldalon
    Layout = null;
}

<h2>Index</h2>

<!--Dolgozók megjelenítése a felhasználók számára-->
<table class="table table-striped" style="width:60%" align="center">
    <!--Fejléc megjelenítése-->
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <!--Adatok megjelenítése csak abban az esetben ha a modell nem üres-->
    <tbody>
        @if(Model != null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.Name</td>
                    <td>@item.Department</td>
                </tr>
            }
        }
    </tbody>
</table>

