@model HowToReturnMultipleModels.Models.ABCModels.CModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 align="center">Üzenet</h1>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/Images/example.png" />
                <p align="center">Üdvözöllek az Example Webalkalmazásban!</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @if (Model != null)
        {
            <h3 align="center">
                A modellek egymásba ágyazását bemutató taratalom.
                Lásd a megvalósítást a forráskódban!
            </h3>
            <h4>Kor: @Model.Age</h4>

            <div class="col-md-6">
                <ul class="list-group">
                    @foreach (var item in Model.AModelsList)
                    {
                        <li class="list-group-item">@item.Name</li>
                    }
                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list-group">
                    @foreach (var item in Model.BModelsList)
                    {
                        <li class="list-group-item">@item.Country</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>