@model DisplayRecordFromDataBaseUsingDataTables.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12">
        <table class="display" id="EmployeeDataTable">
            <thead>
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Részleg
                    </th>
                    <th>
                        Cím
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetEmployeeRecords();
    });

    var GetEmployeeRecords = function () {
        $.ajax({
            type: "GET",
            url: "../Home/GetEmployeeRecords",
            success: function (response) {
                BindDataTable(response);
            }
        });
    }

    var BindDataTable = function (response) {
        $("#EmployeeDataTable").DataTable({
            "aaData": response,
            "aoColumns": [
                { "mData": "Name" },
                { "mData": "DepartmentName" },
                { "mData": "Adress" }
            ]
        });
    }
</script>