@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-lg-6" style="float:none; margin:auto;">
        <input type="text" class="form-control" id="textBoxAutoComplete" />
    </div>
</div>

<script>
    $("#textBoxAutoComplete").autocomplete({
        source: function (request, response) {
            $.ajax({
                type: "GET",
                url: "../Home/GetSuggestionListFromShopItemList",
                data: { SeaarchText: request.term },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return { lable: item, value: item }
                        }));
                }
            });
        }
    })
</script>