<link href="~/Content/bootstrap.css" rel="stylesheet" />

@model HyperlinksAndButtonsExample.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "EmployeeDetail";
    Layout = null;
}

<div class="container">
    <h3 align="center">Dolgozói Adatok</h3>

    <table align="center" class="table table-striped" style="width:40%">
        <tr>
            <td>Név:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Cím:</td>
            <td>@Model.Adress</td>
        </tr>
        <tr>
            <td>Osztály név:</td>
            <td>@Model.DepartmentName</td>
        </tr>
    </table>
</div>