@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12">
        <table class="display" id="EmployeeDataTable">
            <thead>
                <tr>
                    <th>
                        Dolgozó neve
                    </th>
                    <th>
                        Részleg
                    </th>
                    <th>
                        Fizetés
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teszt_Elek_1</td>
                    <td>Osztály_1</td>
                    <td>52000</td>
                </tr>
                <tr>
                    <td>Teszt_Elek_2</td>
                    <td>Osztály_2</td>
                    <td>100000</td>
                </tr>
                <tr>
                    <td>Teszt_Elek_3</td>
                    <td>Osztály_2</td>
                    <td>1805200</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#EmployeeDataTable").DataTable();
    })
</script>