@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12" align="center">
        <h3 align="center">Kérem válasza ki a feltöltendő fájlt: </h3><br />

        <div class="btn btn-primary">
            <input type="file" id="imageBrowse" />
        </div>
        <br /><br />

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <div id="imgPreview" class="thumbnail" style="display:none">
                    <img class="img-responsive" id="targetImg" />

                    <div class="caption">
                        <a href="#" onclick="ClearPreview()">
                            A fájl eltávoltása
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <p id="description"></p>
                    </div>

                    <a href="#" class="btn btn-success" onclick="UploadImage()">
                        Kép feltöltése
                        <i class="glyphicon glyphicon-upload"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="lastestUploadImageField" class="col-sm-4 col-sm-offset-4 text-center" style="display:none">
                <h3 align="center">A legutóbb feltöltött fájl: </h3><br />

                <div id="latestUploadImage" class="thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $("#imageBrowse").change(function () {
            var selectedFile = this.files;

            if (selectedFile && selectedFile[0]) {
                ReadImage(selectedFile[0]);
            }
        });
    });

    var ReadImage = function (currentFile) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(currentFile);

        reader.onload = function (file) {
            image.src = file.target.result;

            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var size = ~~(currentFile.size / 1024) + "KB";

                $("#targetImg").attr('src', file.target.result);

                $("#description").text("Méret: " + size + ", (" + height + "x " + width + ")");

                $("#imgPreview").show();
            }
        }
    }

    var UploadImage = function () {
        var file = $("#imageBrowse").get(0).files;

        var data = new FormData;
        data.append("ImageFile", file[0]);

        $.ajax({
            type: "POST",
            url: "/Home/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (lastUploadedImageId) {
                ClearPreview();

                $("#lastestUploadImageField").show();

                $("#latestUploadImage img:last-child").remove();

                $("#latestUploadImage").append('<img src="/Home/ShowLastUploadedImage?lastUploadedImageID=' +
                    lastUploadedImageId +
                    '" class="img-responsive thumbnail"/>');
            }
        });
    }

    var ClearPreview = function () {
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    }
</script>