<!--Modell definiálása-->
@model IEnumerable<CreateResponsiveSortablePhotoGallery.Models.MenuModels.MenuItem>

<!--Menüsáv felső részének elkészítése-->
<div class="panel panel-default">
    <!--Menüsáv fejlécének elkészítése-->
    <div class="panel-heading">
        <h4 align="center">Menü</h4>
    </div>
    <!--Menüsáv törzsének elkészítése (Gombok megjelenítése)-->
    <div class="panel-body">
        <ul class="list-group">
            <!--Vizsgálat, hogy a Controller-től kapott Model-ben van-e tartalom-->
            @if (Model != null)
            {
                <!--Gombok elkészítése a Controller-től kapott lista alapján-->
                foreach (var item in Model)
                {
                    <li class="list-group-item"><a href="@item.Link" class="btn btn-default btn-success btn-block">@item.LinkName</a></li>
                }
            }

            <!--Google gomb elkészítése-->
            <li class="list-group-item"><a href="http://google.com" class="btn btn-default btn-primary btn-block">Google</a></li>
        </ul>
    </div>
</div>

<!--Menüsáv alsó részének elkészítése-->
<div class="thumbnail">
    <!--Menüsáv fejlécének elkészítése-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!--Menüsáv fejléc-->
            <h3 class="panel-title">Üzenet</h3>
        </div>
    </div>

    <!--Menüsáv törzsének elkészítése-->
    <img src="~/Content/Images/picture12415890781875.png" alt="..." style="margin-top:-20px" />
    <div class="caption">
        <h3>Az Igazgató</h3>
        <p>&para;Üdvözlet!  Próbálom megvalósítani az MVC csodálatos titkait, ezen Tutorial sorozat keretein belül. &para;</p>
        <p><a href="#" class="btn btn-primary" role="button">Bővebben</a></p>
    </div>
</div>