<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "SecondPage";
    Layout = null;
}

<h2>Second Page</h2>

<ul class="list-group">
    <li class="list-group-item">
        ViewBag value is: <b>@ViewBag.EmployeeNameVB</b>
    </li>
    <li class="list-group-item">
        TempData value is: <b>@ViewData["EmployeeNameVD"]</b>
    </li>
    <li class="list-group-item">
        TempData value is: <b>@TempData["EmployeeName"]</b>
    </li>
</ul>

<h2>Navigálás az Index oldalra</h2>

<a href="/Example/Index">Go to the Index</a>