<!--Modell definiálása-->
@model AddForeignKeyAndRefreshEntityFramework.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Index</h2>

<!--Oldalsó menüsáv elkészítése.-->
<div class="panel panel-body">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!--Panel fejlécének elkészítése-->
            <div class="panel-heading">
                <h1 align="center">Üzenet</h1>
            </div>
            <!--Panel törzsének elkészítése-->
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/Images/picture12415890781875.png" />
                <p align="center">Üdvözöllek az Example Webalkalmazásban!</p>
            </div>
        </div>
    </div>
    <!--Content elkészítése-->
    <div class="col-md-9">
        <img class="img-responsive" src="~/Content/Images/website.jpg" />
    </div>
</div>