@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12">
        <ul class="list-grop" id="ItemList">

            <li class="list-group-item-heading list-group-item active">
                <h4 class="list-group-item-text">Az elérhető elemek a boltomban</h4>
            </li>

            @foreach (var item in ViewBag.ShopItemList)
            {
                <li class="list-group-item">
                    <div class="checkbox">
                        <input type="checkbox" id="Check_@item.ID" checked="@item.IsAvailable" />
                        <label for="Check_@item.ID">@item.Name</label>
                    </div>
                </li>
            }

            <li class="list-group-item">
                <a class="btn btn-success btn-block" onclick="UpdateList()">
                    Elemek frissítése
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    var UpdateList = function () {

        var checkedItemsArray = [];

        $("#ItemList li input[type=checkbox]").each(function (index, val) {
            var checkId = $(val).attr("ID");

            var arr = checkId.split('_');

            var currentCheckBoxId = arr[1];

            var isChecked = $("#" + checkId).is(":checked", true);

            if (isChecked) {
                checkedItemsArray.push(currentCheckBoxId);
            }
        });

        if (checkedItemsArray.length !== 0) {
            $.ajax({
                type: "POST",
                url: "/Home/RefreshItemsList",
                data: { CheckedItemList: checkedItemsArray.toString() },
                success: function (response) {
                    $("#ItemList").html(response);

                    alert("Az adatok frissítése sikeres!");
                }
            });
        }
    }
</script>