@model IEnumerable<HowToSendMultipleCheckboxIDs.Models.CheckBoxModels.ShopItems>

@if (Model != null)
{
    <li class="list-group-item-heading list-group-item active">
        <h4 class="list-group-item-text">Az elérhető elemek a boltomban</h4>
    </li>

    foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="checkbox">
                <input type="checkbox" id="Check_@item.ID" checked="@item.IsAvailable" />
                <label for="Check_@item.ID">@item.Name</label>
            </div>
        </li>
    }

    <li class="list-group-item">
        <a class="btn btn-success btn-block" onclick="UpdateList()">
            Elemek frissítése
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
    </li>
}