<link href="~/Content/bootstrap.css" rel="stylesheet" />

@model TextBoxnDropdownnHyperlinksWithHTMLHelper.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2 align="center">Index</h2>

<div class="container" style="width:40%;margin-top:2%">
    @Html.DropDownListFor(@model => model.DepartmentID, ViewBag.DepartmentsDicitionaryTableElements as SelectList, "--- Kérem válaszon! ---", new { @class="form-control"})

    @Html.TextBoxFor(@model => model.Name, new { @class = "form-control", @placeholder="Név" })
    @Html.TextBoxFor(@model => model.Adress, new { @class = "form-control", @placeholder="Cím" })

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(@model => model.Remember)
            Jegyezd meg!
        </label>
    </div>

    <input type="submit" value="Megtekint" class="btn btn-primary btn-block"/>
</div>

