@model CascadingDropdownList.Models.CountryAndStateModels.CountryAndStateViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12" align="center">

        @Html.DropDownListFor(model => model.CountryID, TempData["CountryDicitionaryTableElements"] as SelectList, "--- Kérem válaszon Országot! ---", new { @class = "form-control" })

        @Html.DropDownListFor(model => model.StateID, new SelectList(""), "--- Kérem válaszon Államot / Megyét---", new { @class = "form-control" })

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $('#CountryID').change(function() {
            var selectedCountryId = $(this).val();

            if (selectedCountryId === "") {
                selectedCountryId = 0;
            }

            $.ajax({
                type: "GET",
                url: "/Home/GetStates?CountryID=" + selectedCountryId,
                contentType: "html",
                success: function(response) {
                    $("#StateID").empty();
                    $("#StateID").append(response);
                }
            });
        });
    })
</script>