<option value="">--- Kérem válaszon Államot / Megyét ---</option>

@{
    foreach (var item in TempData["StateDicitionaryTableElements"] as SelectList)
    {
        <option value="@item.Value">
            @item.Text
        </option>
    }
}
