@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/index.jpg" />
    </div>
</div>

<div class="panel panel-body">
    <div class="col-md-12">
        <h3 align="center">E-mail küldéséhez kérem nyomja meg a gombot</h3><br />

        <div style="text-align:center">
            <a align="center" class="btn btn-danger" onclick="SendEmail()">
                E-mail elküldése
                <i class="glyphicon glyphicon-send"></i>
            </a>
        </div>
    </div>
</div>


<script>
    var SendEmail = function () {
        $.ajax({
            type: "GET",
            url: "../Home/SendEmailToUser",
            success: function () {
                alert("E-mail elküldése sikeres!!");
            }
        });
    }
</script>