<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@model DeleteOperationWithPopupExample.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2 align="center">Index</h2>

<div class="container" style="width:40%;margin-top:2%">
    <table class="table table-responsive">
        <tr>
            <th>Név</th>
            <th>Osztály</th>
            <th>Cím</th>
            <th>Törlés</th>
        </tr>
        <tbody>
            @if (ViewBag.Employees != null)
            {
                foreach (var item in ViewBag.Employees)
                {
                    <tr id="row_@item.EmployeeID">
                        <td>@item.Name</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.Adress</td>
                        <td>
                            <a href="#" class="btn btn-danger" onclick="ConfirmDeleteEmployee(@item.EmployeeID)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <input type="hidden" id="hiddenEmployeeID" />

    <div class="modal fade" id="deleteEmployeeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title" align="center">Törlés megerősítése</h3>
                </div>
                <div class="modal-body">
                    <h4>Valóban törölni szeretnéd ezt a dolgozót?</h4>
                    <div style="text-align:center;display:none" id="loaderGIFDiv">
                        <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Nem</a>
                    <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Igen</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ConfirmDeleteEmployee = function (EmployeeID) {
        $("#hiddenEmployeeID").val(EmployeeID);

        $("#deleteEmployeeModal").modal('show');
    }

    var DeleteEmployee = function () {
        $("#loaderGIFDiv").show();

        var employeeID = $("#hiddenEmployeeID").val();

        $.ajax({
            type: "POST",
            url: "Example/DeleteEmployee",
            data: { EmployeeID: employeeID },
            success: function (result) {
                $("#loaderGIFDiv").hide();
                $("#deleteEmployeeModal").modal("hide");

                $("#row_" + employeeID).remove();
            }
        });
    }
</script>